.text-right[b-t4v8c755za] {
    text-align: right;
}

.text-left[b-t4v8c755za] {
    text-align: left;
}

.form-label[b-t4v8c755za] {
    margin-bottom: 0;
}

.row[b-t4v8c755za] {
    margin-bottom: 1.2rem;
}